<mat-toolbar color="primary" class="px-0">
  <div class="cont">
    <span class="d-flex align-items-center"
      ><img
        class="me-2"
        width="35"
        src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_angular_icon_130754.png"
        alt=""
      />
      Employees Application</span
    >
    <span class="example-spacer"></span>
    <button
      mat-stroked-button
      class="custom_btn me-2"
      routerLink="/"
      routerLinkActive="custom_btn_active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="me-2">supervised_user_circle</mat-icon> Employees
    </button>
    <button
      mat-stroked-button
      class="custom_btn"
      routerLink="/tasks"
      routerLinkActive="custom_btn_active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>task</mat-icon>
      Tasks
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
