<div class="main-body">
  <mat-chip-listbox class="mb-4" aria-label="Fish selection">
    <mat-chip-option (selectionChange)="filterByStatus('To do')">
      To do
    </mat-chip-option>
    <mat-chip-option (selectionChange)="filterByStatus('In progress')">
      In progress
    </mat-chip-option>
    <mat-chip-option (selectionChange)="filterByStatus('Completed')">
      Completed
    </mat-chip-option>
  </mat-chip-listbox>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Filter by Employee</mat-label>
    <input
      matInput
      (keyup)="filterByEmployee(input.value)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="tr_head">
          <th scope="col">Employee</th>
          <th scope="col">Tasks</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of filteredEmployees">
          <tr
            *ngFor="
              let task of employee.tasks;
              let i = index;
              last as isLast;
              first as isFirst
            "
            [ngClass]="{
              tr_group_last: isLast,
              tr_group_first: isFirst
            }"
          >
            <td>
              {{ i === 0 ? employee.firstName + " " + employee.lastName : "" }}
            </td>
            <td>{{ task.task }}</td>
            <td>{{ task.state }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
