.table-responsive {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.table-responsive table {
  margin-bottom: 0;
}

.table-responsive .tr_head {
  border: 1px solid var(--bs-border-color) !important;
}

.table-responsive .tr_head th {
  padding: 1rem;
}

.table-responsive tr {
  border-color: transparent;
}

.table-responsive td {
  padding: 0.3rem 1rem;
}

.table-responsive .tr_group_first td {
  padding-top: 1.2rem;
}

.table-responsive .tr_group_last td {
  padding-bottom: 1.2rem;
}

.table-responsive .tr_group_last {
  border-bottom: 1px solid var(--bs-border-color) !important;
}
